[Unit]
Description=Weebland by megatron the great
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/opt/haibu
ExecStart=/home/pi/.local/bin/uwsgi --ini haibu.ini

[Install]
WantedBy=multi-user.target
