[Unit]
Description=Weebland by megatron the great
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/opt/haibu
ExecStart=uwsgi --ini haibu.ini:wq

[Install]
WantedBy=multi-user.target
