<html>
	<head>
		<meta name="viewport" content="width=device-width">
		<title>{{episode}}</title>
	</head>
	<body>
		<h1>{{episode}}</h1>
		<a href="{{ url_for('home_bp.home')}}">Menu</a>
		<button is='google-cast-button'></button>
		<div style="text-align: center">
			<video controls id="video">
				<source src={{ url_for('anime_bp.static', filename=path, _anchor='t='+t) | replace('%3D', '=') }} type="video/mp4">
			</video>
		</div>
	</body>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1"></script>
        <script type="text/javascript" charset="utf-8">
                window.__onGCastApiAvailable = function(isAvailable){
                    if(! isAvailable){
                        return false;
                    }

                    var castContext = cast.framework.CastContext.getInstance();

                    castContext.setOptions({
                        autoJoinPolicy: chrome.cast.AutoJoinPolicy.ORIGIN_SCOPED,
                        receiverApplicationId: chrome.cast.media.DEFAULT_MEDIA_RECEIVER_APP_ID
                    });

                    var stateChanged = cast.framework.CastContextEventType.CAST_STATE_CHANGED;
                    castContext.addEventListener(stateChanged, function(event){
                        var castSession = castContext.getCurrentSession();
                        var media = new chrome.cast.media.MediaInfo('https://www.example.com/my-song.mp3', 'audio/mp3');
                        var request = new chrome.cast.media.LoadRequest(media);

                        castSession && castSession
                            .loadMedia(request)
                            .then(function(){
                                console.log('Success');
                            })
                            .catch(function(error){
                                console.log('Error: ' + error);
                            });
                    });
                };

		function bookmark() {
			var url = "{{ url_for('anime_bp.register_timestamp') }}";
                	var data = {
				anime: "{{anime}}",
				season: "{{season}}",
				episode: "{{episode}}",
				t: document.getElementById('video').currentTime
			};
                	$.post(url, data);
            	}

		video.addEventListener('play', () => {
  			video._updateInterval = setInterval(() => {
    			bookmark();
  			}, 5000);
		}, true);

		video.addEventListener('pause', () => clearInterval(video._updateInterval), true);
        </script>
	<style>
		@media all and (min-width: 320px) and (max-width: 480px) {
			video {
    				width: 100% !important;
    				height: auto !important;
			}
		}
	</style>
</html>
