<html>
	<head>
		<meta name="viewport" content="width=device-width">
		<title>{{manga}} {{chapter}}</title>
	</head>
	<body>
		<h1>{{manga}} {{chapter}}</h1>
		<a href="{{ url_for('home_bp.home')}}">Menu</a>
		<div id="navigation">
			<a href="{{ url_for('scans_bp.page', manga=manga, chapter=chapter, page=page-1) }}">Previous page</a>
			<a href="{{ url_for('scans_bp.page', manga=manga, chapter=chapter, page=page+1) }}">Next page</a>
         		<select name="listchapters" onchange="location = this.value;">Chapters
            		{% for select_chapter in chapters %}
               			<option value="{{ url_for('scans_bp.page', manga=manga, chapter=select_chapter, page=1) }}">{{select_chapter}}</option>
            		{% endfor %}
         		</select>
			<select name="listpages" onchange="location = this.value;">Pages
            		{% for select_page in pages %}
               			<option value="{{ url_for('scans_bp.page', manga=manga, chapter=chapter, page=select_page) }}">{{select_page}}</option>
            		{% endfor %}
         		</select>

		</div>
		<div style="text-align: center">
			<a href="{{ url_for('scans_bp.page', manga=manga, chapter=chapter, page=page+1) }}">
				<img src="{{ url_for('scans_bp.static', filename=path) }}" align="center" style="max-width:100%">
			</a>
		</div>
	</body>
	<script>
		window.addEventListener("keydown", function (event) {
			if(event.defaultPrevented) {
				return;
			}
			switch (event.key) {
				case "ArrowLeft":
					document.location.href="{{ url_for('scans_bp.page', manga=manga, chapter=chapter, page=page-1) }}"
					break;
				case "ArrowRight":
					document.location.href="{{ url_for('scans_bp.page', manga=manga, chapter=chapter, page=page+1) }}"
					break;
				case "ArrowUp":
                  			document.scrollingElement.scrollTop -= 100
                  			break;
               			case "ArrowDown":
					document.scrollingElement.scrollTop += 100
					break;
			}
			event.preventDefault();
		}, true);
	</script>
</html>
